<div class="comment">
<%= form_for @comment do |form| %>
  <h4><%= form.label :message %></br></h4>
  <%= form.text_area :message %></br>
<%= form.hidden_field :post_test, :value => @post.id %>
  <%= form.submit "Submit" %>
<% end %>
</div>
