<div class="album_show">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<% @album.pics.all.each do |pic| %>
<%= image_tag(pic, :size => '80x80') %>
<% end %>
<br>
<br>

<%= link_to 'Edit', edit_album_path(@album) %>&emsp; |
<%= link_to 'Back', '/' %>
</div>
