<p></p>
<%= link_to new_post_path do %>
  New post
<% end %>


<% @posts.reverse.each do |post| %>
      <p><%= post.message %>: posted at <%= post.created_at.strftime('%H:%M on %d-%b-%y') %>
    </p>

    <%= link_to edit_post_path(post.id) do %>
      Edit
    <% end %>&emsp;

    <%= link_to destroy_post_path(id: post.id) do %>
      Delete
    <% end %>&emsp;

    <%= link_to new_comment_path(post_id: post.id) do %>
      Comment
    <% end %>&emsp;

    <%= link_to likeposts_path(post_id: post.id) do %>
      <%= Emoji.find_by_alias("+1").raw %>
    <% end %>
    <%= @likes_posts[post.id] %>
    
  <br><br>
Comments:
<% @comments = Comment.where(post_id: post.id) %>
  <ul>
  <% @comments.each do |comment| %>

      <li><%=comment.message %> </li>
    <% end %>
    </ul>

<% end %>

<style>
p {
    white-space: pre-line; /* collapse WS, preserve LB */
  }
</style>
